/* Styles pour la flèche de retour */
.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: #1f3a67;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-arrow i {
    margin-right: 8px;
}

.back-arrow:hover {
    color: #1f3a67;
}

/* Styles pour la page d'inscription */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #1f3a67;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    font-size: 14px;
    color: #333;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1f3a67;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1f3a67;
}

.bottom-link {
    text-align: center;
    margin-top: 15px;
}

.bottom-link a {
    color: #1f3a67;
    text-decoration: none;
}
